@import "tailwindcss";

@theme {
  --color-secondary-container: #4a4949;
  --color-on-tertiary-fixed: #1b1b1c;
  --color-error-container: #93000a;
  --color-on-tertiary-fixed-variant: #474746;
  --color-tertiary-container: #e5e2e1;
  --color-inverse-primary: #506600;
  --color-primary-fixed: #c3f400;
  --color-surface-container-lowest: #0c0e14;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-surface-container-high: #282a31;
  --color-outline-variant: #444933;
  --color-on-surface-variant: #c4c9ac;
  --color-tertiary: #ffffff;
  --color-surface-tint: #abd600;
  --color-surface-container: #1e1f26;
  --color-on-primary-fixed-variant: #3c4d00;
  --color-tertiary-fixed-dim: #c8c6c5;
  --color-primary-container: #c3f400;
  --color-secondary-fixed: #e5e2e1;
  --color-surface: #12131a;
  --color-on-error-container: #ffdad6;
  --color-on-primary-container: #556d00;
  --color-error: #ffb4ab;
  --color-outline: #8e9379;
  --color-primary-fixed-dim: #abd600;
  --color-surface-container-low: #1a1b22;
  --color-on-primary: #283500;
  --color-surface-container-highest: #33343c;
  --color-on-tertiary-container: #656464;
  --color-secondary: #c8c6c5;
  --color-on-secondary-container: #bab8b7;
  --color-on-primary-fixed: #161e00;
  --color-surface-variant: #33343c;
  --color-inverse-on-surface: #2f3037;
  --color-on-secondary-fixed-variant: #474646;
  --color-on-secondary: #313030;
  --color-tertiary-fixed: #e5e2e1;
  --color-background: #12131a;
  --color-primary: #ffffff;
  --color-on-secondary-fixed: #1c1b1b;
  --color-on-tertiary: #303030;
  --color-on-error: #690005;
  --color-on-surface: #e2e1eb;
  --color-inverse-surface: #e2e1eb;
  --color-surface-bright: #383940;
  --color-surface-dim: #12131a;
  --color-on-background: #e2e1eb;
  
  --spacing-stack-gap-lg: 32px;
  --spacing-stack-gap-sm: 8px;
  --spacing-base: 8px;
  --spacing-gutter-x: 16px;
  --spacing-container-margin: 20px;
  --spacing-stack-gap-md: 16px;

  --font-display-lg: "Anton", sans-serif;
  --font-body-md: "Lexend", sans-serif;
  --font-body-lg: "Lexend", sans-serif;
  --font-headline-lg: "Anton", sans-serif;
  --font-headline-lg-mobile: "Anton", sans-serif;
  --font-stats-xl: "Anton", sans-serif;
  --font-label-caps: "Space Grotesk", sans-serif;

  --text-display-lg: 48px;
  --text-display-lg--line-height: 48px;
  --text-display-lg--letter-spacing: 0.02em;
  --text-display-lg--font-weight: 400;

  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-md--font-weight: 400;

  --text-body-lg: 18px;
  --text-body-lg--line-height: 28px;
  --text-body-lg--font-weight: 400;

  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 36px;
  --text-headline-lg--font-weight: 400;

  --text-headline-lg-mobile: 28px;
  --text-headline-lg-mobile--line-height: 32px;
  --text-headline-lg-mobile--font-weight: 400;

  --text-stats-xl: 64px;
  --text-stats-xl--line-height: 64px;
  --text-stats-xl--letter-spacing: -0.02em;
  --text-stats-xl--font-weight: 400;

  --text-label-caps: 12px;
  --text-label-caps--line-height: 16px;
  --text-label-caps--letter-spacing: 0.1em;
  --text-label-caps--font-weight: 700;
}